:root{
    /*vars for the CreateQuize Page*/

    --cq-nq-border-color:2px dashed #ceb6ff;
    --cq-nq-bkg-color:rgba(210, 142, 255, 0.199);
    --cq-nq-icon-color:rgb(242, 196, 255);
    --cq-nq-bkg-color-hover:rgba(210, 142, 255, 0.278);
    --cq-nq-icon-color-hover:rgb(238, 175, 255);
    --cq-qs-control-color:rgb(205, 129, 248);
    --cq-qs-control-bkg-color:rgba(199, 147, 252, 0.089);
    --cq-qs-control-bkg-color-hover:rgba(173, 102, 244, 0.131);

}


.create-quiz-page{
    height: 100%;
    display: flex;
    flex-flow:column nowrap ;
}
.cq-header{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding:0rem 1rem;
    align-items: center;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    border: var(--qm-header-border);
}

/*the controls of the page*/
.cq-slide-counter{
    height: 100%;
}
.cq-controls{
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}
/*styling of the counter ( part of the contols )*/
.cq-counter{
    height: 80%;
    background-color: var(--player);
    color: var(--text-color);
    padding: 0rem 0.5rem;
    border-radius: 0.4rem;
    display: flex;
    gap: 0.5rem;
    width: 10rem;
    align-items: center;
    font-size: 1.5ch;
}
.cq-counter h2{
    width: 6.5rem;
    user-select: none;       
    pointer-events: none; 
}
.cq-counter-contols{
    height: 100%;
    display: flex;
    flex-flow:column nowrap;
    justify-content: center;
    justify-content: center;
    flex-grow: 1;
}
.cq-counter-up,.cq-counter-down{
    display: flex;
    align-items: var(--place,start);
    font-size: 2ch;
    cursor: pointer;
    justify-content: center;
}
.cq-counter-up{--place:end}
.cq-dropdown-item{
    cursor: pointer;
}

/*syling for the dropdown to choose the topic*/
.dropdown-container{
    width: 6rem;
    height: 100%;
    position: relative;
    z-index: 3;
}
.cq-topic{
    height:80%;
    border: none;
    background-color: var(--quiz-maker);
    color: var(--text-color);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0rem 0.5rem;
    border-radius: 0.2rem;
    transition: all 0.2s ease;
}
.cq-topic:hover{
    transform: scale(1.02);
}
.cq-topic-icon{
    height: 100%;
    font-size: 2.6ch;
}
.cq-dropdown-topic{
    --item-height:2rem;
    height:calc(var(--item-height)*var(--nb-items));
    position: absolute;
    top: 100%;
    background-color: var(--qm-dropdown-color);
    width: 150%;
    overflow: hidden;
    border: var(--qm-dropdown-border);
    border-radius: 0.3rem;
}
.cq-dropdown-list{
    width: 100%;
    height: 100%;
}
.cq-dropdown-item{
    height: var(--item-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0rem 0.5rem;
    font-size: 1.3ch;
    border-bottom: var(--qm-dropdown-border);
    color: var(--qm-dropdown-text-color);
    transition: all 0.2s ease;
}
.cq-dropdown-item:last-child{border: none;}
.cq-dropdown-item:hover{
    background-color: var(--qm-dropdown-item-hover);
}
.cq-dropdown-item-icon{margin-left: auto;}
/*styling for the text input to choose the title for the quiz*/
.cq-title{
    height: 70%;
    outline: none;
    border-radius: 0.3rem;
    padding-left: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2ch;
    border: 2px solid var(--text-color-dark);
    color: var(--text-color-dark);

}

/*styling for the main section*/
.cq-main{
    flex-grow: 1;
    height: 100%;
}
.cq-nq-container{
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23ceb6ff' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 1rem;
    background-color: var(--cq-nq-bkg-color);
    cursor: pointer;
    transition: all 0.4s ease;
}
.cq-nq-container:hover{background-color: var(--cq-nq-bkg-color-hover);}
.cq-nq-container:hover .cq-nq-icon{color: var(--cq-nq-icon-color-hover);}
.cq-nq-icon{
    width: 10rem;
    height: 10rem;
    font-size: 10rem;
    color: var(--cq-nq-icon-color);
    transition: all 0.4s ease;
}
.cq-qs-container{
    position: relative;
    width: clamp(50vw,80%,95%);
    height: 90%;
}

.cq-qs-next-slide,.cq-qs-prev-slide{
    border: none;
    position: absolute;
    top: 0%;
    height: 100%;
    width: clamp(2rem,3rem,3rem);
    font-size: 5.5ch;
    background-color: var(--cq-qs-control-bkg-color);
    color: var(--cq-qs-control-color);
    border-radius: 0.5rem;
    transition: all 0.4s ease;
}
.cq-qs-next-slide{
    right:-3.2rem;
}
.cq-qs-prev-slide{
    left: -3.2rem;
    --dir:-0.2rem;
}
.cq-qs-next-slide:hover,.cq-qs-prev-slide:hover{
    background-color: var(--cq-qs-control-bkg-color-hover);
    width: clamp(2.1rem,3.2rem,3.3rem);
    transform: translateX(var(--dir,0.2rem));
}
