:root{
    --filter-text-color:aliceblue;
    --qm-bkg:linear-gradient(to top,rgb(188, 221, 255),rgb(246, 250, 255));
    --qm-header-border:2px solid rgba(228, 227, 227, 0.6);

    /*dropdown filters*/
    --qm-dropdown-color:rgb(191, 117, 255);
    --qm-dropdown-text-color:rgb(255, 250, 236);
    --qm-dropdown-border-color:rgb(167, 0, 223);
    --qm-dropdown-border:2px solid var(--qm-dropdown-border-color);
    --qm-dropdown-item-hover:rgb(169, 90, 239);

    /*filters colors*/
    --math:rgb(99, 99, 255);
    --chemistry:rgb(0, 161, 0);
    --physics:var(--quiz-maker);
    --science:var(--player);
    --history:rgb(237, 41, 123);

    /*main page : quizes*/
    --qm-item-bkg-hover:linear-gradient(to top,rgba(0, 0, 0, 0.485),transparent);
}

/*the background of the page*/
.quiz-maker-bkg-images{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#pixel-img1{position:absolute;bottom:-5rem;opacity:0.6;left:-7rem;transform:rotate(5deg);}
#pixel-img2{position:absolute;bottom:-5rem;opacity:0.9;right:-7rem;transform:rotate(-10deg);}
#pixel-img3{position:absolute;bottom:0rem;opacity:0.5;right:-10rem;transform:rotate(-10deg);}
@media screen and (max-width:425px) {
    #pixel-img1{
        display: none;
    }
}


/*the page itself*/
.quiz-page,.player-page{
    height: 100%;
    background: var(--qm-bkg);
    position: relative;
    overflow: hidden;
}
/*for the header*/
.qm-header{
    display: flex;
    height: 3rem;
    padding: 0 1rem;
    font-family: "Pixelify Sans", sans-serif;font-optical-sizing: auto;font-style: normal;
    border-bottom: var(--qm-header-border);
}
.qm-fade-wrapper::before,.qm-fade-wrapper::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 3rem;
    width: 1rem;
    background: linear-gradient(var(--direction,to right),var(--text-color),transparent);
    z-index: 3;
}
.qm-fade-wrapper::before{
    --direction:to left;
    right: -2px;
}
.qm-fade-wrapper::after{left: -2px;}
.qm-fade-wrapper{
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 3;
}
.qm-filters{
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    overflow-y: hidden;
    padding-left: 0.7rem;
}
.qm-filters::-webkit-scrollbar{
    display: none;
}
.qm-filters-list{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--filter-text-color);
    
}
.filter-icon{
    font-size: 2.7ch;
    height: 100%;
    width: 2rem;
    border-left: 2px solid var(--filter-text-color);
    cursor: pointer;
    transition: all 0.2s ease;
}
.filter-icon:hover{
    width: 2.2rem;
}
.qm-filter-item{
    height: 60%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-left: 0.5rem;
    border-radius: 0.9rem;
    
}
.qm-filter-add{
    width: 10rem;
    height: 100%;
}

.qm-filter-add{height: 100%;position: relative;}
.qm-dropdown{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: var(--qm-dropdown-color);
    --drop-item-height:2rem;
    overflow: hidden;
    border: var(--qm-dropdown-border);
    border-radius: 0.5rem;
    z-index: 3;
}
.qm-dropwdown-list{
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}
.qm-dropdown-item{
    height: var(--drop-item-height);
    color: var(--qm-dropdown-text-color);
    justify-content: start;
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid var(--qm-dropdown-border-color);
    width: 100%;
    transition: all 0.2s ease;
}
.qm-dropdown-item:hover{
    background-color: var(--qm-dropdown-item-hover);
}
.qm-dropdown-item:last-child{border-bottom: none;}
.checked-icon{margin-left: auto;}
.qm-btn-filter{
    height: 80%;
    display: flex;
    gap:0.5rem;
    align-items: center;
    border: none;
    background-color:var(--quiz-maker);
    color: var(--qm-bkg);
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    position: relative;
    font-family: "Pixelify Sans", sans-serif;font-optical-sizing: auto;font-style: normal;
    color: var(--text-color);
}
.qm-btn-icon{
    font-size: 2.9ch;
}

.qm-scroll-left,.qm-scroll-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 4ch;
    color: var(--qm-dropdown-color);
    z-index: 3;
}
.qm-scroll-left{left: 0.2rem;}
.qm-scroll-right{right: 0.2rem;}

/*main section and quizes*/

.qm-quizes{height: 100%;}
.qm-quiz-container{
    height: 100%;
    width: 100%;
    padding: 1rem;
}
.qm-quiz-list{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: start;
    align-content: start;
    height: 100%;
    width: 100%;
    gap: 1rem;
}
.qm-add-quiz,.qm-quiz-item{
    height: 5rem;
    width: 5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease;
}
.qm-add-quiz:hover,.qm-quiz-item:hover{
    transform: scale(1.05);
}
.qm-quiz-item:nth-child(even){background-color: var(--science)}
.qm-quiz-item:nth-child(odd){background-color: var(--physics)}
.qm-add-quiz{background-color: var(--math);font-size: 5ch;}
.qm-link-quiz-item,.qm-link-quiz-add{
    position: relative;
    z-index: 1;
    color: var(--text-color);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.qm-link-quiz-item{
    padding-top: 0.5rem;
    font-size: 2ch;
    text-align: center;
}
.qm-quiz-topic-container{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    font-size: 1ch;
    align-items: end;
    justify-self: center;
    padding-bottom: 0.5rem;
    background: var(--qm-item-bkg-hover);
    border-radius: 0.6rem;
}
.qm-quiz-title{position: relative;z-index: 1;}
.qm-quiz-item-topic{
    color: var(--text-color);
    font-family: "Pixelify Sans", sans-serif;font-optical-sizing: auto;font-style: normal;
    text-align: center;
    width: 100%;
    padding: 0 0.3rem;
}



