:root{
    --filter-text-color:aliceblue;
    --qm-bkg:rgb(246, 250, 255);
    --qm-dropdown-color:rgb(191, 117, 255);
    --qm-dropdown-text-color:rgb(255, 250, 236);
    --qm-dropdown-border-color:rgb(167, 0, 223);
    --qm-dropdown-border:2px solid var(--qm-dropdown-border-color);
    --qm-dropdown-item-hover:rgb(169, 90, 239);

    --math:rgb(99, 99, 255);
    --chemistry:rgb(0, 161, 0);
    --physics:var(--quiz-maker);
    --science:var(--player);
    --history:rgb(237, 41, 41);
}
.quiz-page{
    height: 100%;
    background-color: var(--qm-bkg);
}
/*for the header*/
.qm-header{
    display: flex;
    height: 3rem;
    padding: 0 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.qm-fade-wrapper::before,.qm-fade-wrapper::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 3rem;
    width: 1rem;
    background: linear-gradient(var(--direction,to right),var(--qm-bkg),transparent);
}
.qm-fade-wrapper::before{
    --direction:to left;
    right: 0;
}
.qm-fade-wrapper::after{left: 0;}
.qm-fade-wrapper{
    flex: 1;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.qm-filters{
    height: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    overflow-y: hidden;
    padding-left: 0.7rem;
}
.qm-filters::-webkit-scrollbar{
    display: none;
}
.qm-filters-list{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--filter-text-color);
    
}
.filter-icon{
    font-size: 2.7ch;
    height: 100%;
    width: 2rem;
    border-left: 2px solid var(--filter-text-color);
    cursor: pointer;
    transition: all 0.2s ease;
}
.filter-icon:hover{
    width: 2.2rem;
}
.qm-filter-item{
    height: 60%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-left: 0.5rem;
    border-radius: 0.9rem;
    
}
.qm-filter-add{
    width: 10rem;
    height: 100%;
}

.qm-filter-add{height: 100%;position: relative;}
.qm-dropdown{
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
    background-color: var(--qm-dropdown-color);
    --drop-item-height:2rem;
    overflow: hidden;
    border: var(--qm-dropdown-border);
    border-radius: 0.5rem;
}
.qm-dropwdown-list{
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}
.qm-dropdown-item{
    height: var(--drop-item-height);
    color: var(--qm-dropdown-text-color);
    justify-content: start;
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid var(--qm-dropdown-border-color);
    width: 100%;
    transition: all 0.2s ease;
}
.qm-dropdown-item:hover{
    background-color: var(--qm-dropdown-item-hover);
}
.qm-dropdown-item:last-child{border-bottom: none;}
.checked-icon{margin-left: auto;}
.qm-btn-filter{
    height: 80%;
    display: flex;
    gap:0.5rem;
    align-items: center;
    border: none;
    background-color:var(--quiz-maker);
    color: var(--qm-bkg);
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    position: relative;
}
.qm-btn-icon{
    font-size: 2.9ch;
}

.qm-scroll-left,.qm-scroll-right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 4ch;
    color: var(--qm-dropdown-color);
    z-index: 3;
}
.qm-scroll-left{left: 0.2rem;}
.qm-scroll-right{right: 0.2rem;}

