:root{
    --pagination-bkg-primary:var(--quiz-maker);
    --pagination-bkg-inherit:#af8fef;
}
.solve-page{
    height: 100%;
}
.solve-header{
    display: flex;
    height: 3rem;
    align-items: center;
    padding: 0 1rem;
    justify-content: space-between;
    border: var(--qm-header-border);
    gap: 0.3rem;
}
.pagination{
    display: flex;
    height: 60%;
    gap: 0.5rem;
}
.pagination button{
    aspect-ratio: 1/1;
    padding: 0 0.2rem;
    border: none;
    color: aliceblue;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: larger;
    border-radius: 4px;
    transition: all 0.2s ease;
}
.pagination button:hover{transform: scale(1.06);}
.pagination-dots{
    background-color: var(--cq-qs-control-color);
}
.solve-quiz-info{
    display: flex;
    gap: 0.5rem;
    height: 80%;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    align-items: center;
    font-size: 1.8ch;
}
.solve-slide{padding-bottom: 2rem;}
.solve-choice{
    display: flex;
    align-items: center;
    justify-content: start;
}
.solve-quiz-info-NbQuestions{color: var(--pagination-bkg-inherit);text-align: center;}
.solve-quiz-info-title{color: var(--quiz-maker); text-align: center;}
.solve-quiz-info-topic{
    height: 100%;
    border-radius: 4px;
    color: var(--text-color);
    background-color: var(--player);
    padding:0 0.5rem;
}

.solve-main{
    position: relative;
}
.solve-score-modal{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: min(40vw,20rem);
    background-color: var(--cq-nq-slide-question-container);
    padding: 0.5rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    gap: 0.5rem;
    border-radius: 0.5rem;
    z-index: 5;
}
.solve-results{
    width: 100%;
    border-radius: 0.5rem;
    flex-flow: column nowrap;
    background-color: var(--cq-nq-slide-question);
    padding: 0.5rem;
}
.solve-score-confrim{
    width: 80%;
    color: var(--text-color);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
    border-radius: 0.3rem;
    background-color: #af8fef;
    font-size: 2rem;
    transition: all 0.2s ease;
}
.solve-score-confrim:hover{
    width: 90%;
}

@media screen and (max-width:770px) {.solve-quiz-info{font-size: 1.5ch;}}
@media screen and (max-width:520px) {
    .solve-header{padding: 0 0.5rem}
    .solve-quiz-info{font-size: 1.35ch;}
}
@media screen and (max-width:470px) {
    .solve-header{padding: 0 0.1rem}
    .solve-quiz-info{font-size: 1.2ch;}
}
@media screen and (max-width:420px) {
    .solve-quiz-info{
        font-size: 1.1ch;
        gap: 0.2rem;
    }
}
@media screen and (max-width:320px) {
    .solve-quiz-info{font-size: 1ch;}
}